<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="css/app.css" rel="stylesheet"></link>
</head>
<div class="generic-container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">List of books </span>
		</div>
		<input type="hidden" ng-model="book.id" />
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Title</label>
				<div class="col-md-7">
					<input type="text" ng-model="book.title" name="title"
						class="username form-control input-sm"
						placeholder="Enter books title" readonly="readonly" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Author</label>
				<div class="col-md-7">
					<input type="text" ng-model="book.author" readonly="readonly"
						class="form-control input-sm" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Description</label>
				<div class="col-md-7">
					<input type="text" ng-model="book.description" name="desc"
						readonly="readonly" class="form-control input-sm" />

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Created
					Date</label>
				<div class="col-md-7">
					<input type="text" ng-model="book.createdDate" name="desc"
						readonly="readonly" class="form-control input-sm" />

				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2 control-lable" for="file">Updated
					Date</label>
				<div class="col-md-7">
					<input type="text" ng-model="book.updatedDate" name="desc"
						readonly="readonly" class="form-control input-sm" />

				</div>
			</div>
		</div>


		<!-- Default panel contents -->
		<div class="panel-heading">

			<button type="button" ui-sref="books" class="btn btn-info btn-lg"
				style="padding-bottom: 0">
				<span class="glyphicon glyphicon-arrow-left"></span> Back
			</button>
		</div>

	</div>
</div>
